aws_region  = "us-east-1"
project     = "tf1-triage-hub"
environment = "prod"
owner       = "cdo-05"

enable_nat_gateway      = true
enable_vpc_endpoints    = true
enable_bedrock_endpoint = false

cluster_endpoint_public_access       = true
cluster_endpoint_private_access      = true
cluster_endpoint_public_access_cidrs = ["<your-office-or-vpn-cidr>/32"]

node_instance_types  = ["m7i-flex.large"]
node_ami_type        = "AL2023_x86_64_STANDARD"
node_desired_size    = 2
node_min_size        = 2
node_max_size        = 4
node_disk_size       = 50
enable_ebs_csi_addon = true

enable_kms                    = true
enable_s3_object_lock         = true
s3_object_lock_retention_days = 90
enable_waf                    = true
enable_cloudtrail             = true

ingest_function_url_auth_type = "AWS_IAM"
lambda_reserved_concurrency   = 10

enable_ai_bedrock_policy = false
bedrock_model_arns       = []
